<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share Screen</title>
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
<!--        <div class="left">-->
<!--            <br />-->
<!--            <br />-->
<!--            <h5> Select Size : </h5>-->
<!--            <select id="appList" class="appList" onchange="requestForSizeChange()">-->
<!--                <option value="30"> Small </option>-->
<!--                <option value="50" selected> Medium </option>-->
<!--                <option value="90"> Large </option>-->
<!--                <option value="100"> Extra Large </option>-->
<!--            </select>-->
<!--            <br />-->
<!--            <br />-->
<!--            <button class="button" onclick="startShare()"> Start Share </button>-->
<!--            <br />-->
<!--            <br />-->
<!--            <button class="button" style="background:#f44336"  onclick="stopShare()"> Stop Share </button>-->
<!--        </div>-->
        <img id="screen" class="screen" />
    </div>

    <div class="fab-top-wrapper" title="Portal">
        <label class="switch">
            <input type="checkbox" checked id="portal-checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <div class="fab-wrapper" title="Change Screen Size">
        <input id="fabCheckbox" type="checkbox" class="fab-checkbox" />
        <label class="fab" for="fabCheckbox">
            <i class="fab-box fa-2xl fa fa-window-maximize" aria-hidden="true"></i>
        </label>
        <div class="fab-wheel">
            <a class="fab-action fab-action-1" onclick="requestForSizeChange(30)">
                SM
            </a>
            <a class="fab-action fab-action-2" onclick="requestForSizeChange(50)">
                M
            </a>
            <a class="fab-action fab-action-3" onclick="requestForSizeChange(70)">
                LG
            </a>
            <a class="fab-action fab-action-4" onclick="requestForSizeChange(90)">
                XL
            </a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>