<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share Screen</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <br />
            <br />
            <h5> Select Size : </h5>
            <select id="appList" class="appList" onchange="requestForSizeChange()">
                <option value="30"> Small </option>
                <option value="50" selected> Medium </option>
                <option value="90"> Large </option>
                <option value="100"> Extra Large </option>
            </select>
            <br />
            <br />
            <button class="button" onclick="startShare()"> Start Share </button>
            <br />
            <br />
            <button class="button" style="background:#f44336"  onclick="stopShare()"> Stop Share </button>
        </div>
        <div class="resizer" id="dragMe"></div>
        <div class="right"><img id="screen" class="screen" /></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>