<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share Screen</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <h5> Select App </h5>
            <br />
            <select id="appList" class="appList" onchange="requestForAppChange()">
                <option val=""> -- Select App -- </option>
            </select>
            <br />
            <br />
<!--            <button class="button" onclick="shareScreen()"> Cast Screen </button>-->
        </div>
        <div class="resizer" id="dragMe"></div>
        <div class="right"><img id="screen" class="screen" /></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>